@using Microsoft.EntityFrameworkCore
@inherits LayoutComponentBase

<MainLayout>
  <Body>
  <div class="row">
    <nav class="nav flex-column col-sm-3 col-xs-12">
      @foreach (var path in pages_paths)
      {
        <NavLink class="nav-link" href=@("/pages/" + path) Match="NavLinkMatch.All">
          @path
        </NavLink>
      }
    </nav>
    <div class="col-sm-9 col-xs-12">
      @Body
    </div>
  </div>
  </Body>
</MainLayout>

@code
{
  [Inject] private AppDbContext db_context { get; set; } = null!;

  private string[] pages_paths { get; set; } = [];

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();
    pages_paths = await db_context.pages
      .OrderBy(x => x.path)
      .Select(x => x.path)
      .ToArrayAsync();
  }
}
