root = true

[*]

indent_size = 2

# Microsoft .NET properties
# csharp_indent_braces = false
# csharp_new_line_before_members_in_object_initializers = false
# csharp_new_line_before_open_brace = accessors,anonymous_types,control_blocks,events,indexers,local_functions,methods,object_collection_array_initializers,propertiesall
# csharp_preferred_modifier_order = public, required, protected, internal, file, new, private, abstract, virtual, sealed, override, async, extern, unsafe, volatile, static, readonly:suggestion
# csharp_using_directive_placement = inside_namespace:silent

# ReSharper properties
resharper_align_multiline_argument = true
resharper_arguments_anonymous_function = named
resharper_arguments_literal = named
resharper_arguments_skip_single = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_after_start_comment = 0
resharper_blank_lines_inside_namespace = 1
resharper_braces_for_foreach = required
resharper_braces_for_using = not_required
resharper_braces_redundant = false
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_empty_block_style = together_same_line
resharper_csharp_indent_invocation_pars = noneinside
resharper_csharp_max_line_length = 1654
resharper_csharp_remove_blank_lines_near_braces_in_code = false
resharper_csharp_remove_blank_lines_near_braces_in_declarations = false
resharper_csharp_space_around_alias_eq = falsetrue
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_indent_inside_namespace = false
resharper_indent_invocation_pars = inside
resharper_indent_pars = outsideinside
resharper_indent_preprocessor_other = do_not_change
resharper_instance_members_qualify_declared_in =
resharper_int_align_assignments = true
resharper_int_align_fields = true
resharper_int_align_properties = true
resharper_int_align_variables = true
resharper_max_attribute_length_for_same_line = 10000
resharper_method_or_operator_body = expression_body
resharper_parentheses_redundancy_style = remove
resharper_place_accessorholder_attribute_on_same_line = true
resharper_place_expr_method_on_single_line = true
resharper_place_expr_property_on_single_line = false
resharper_place_method_attribute_on_same_line = true
resharper_place_simple_embedded_statement_on_same_line = false
resharper_space_around_alias_eq = true
resharper_space_between_attribute_sections = false
resharper_space_within_empty_braces = false
resharper_trailing_comma_in_multiline_lists = true
resharper_wrap_list_pattern = chop_always
resharper_wrap_object_and_collection_initializer_style = chop_always
