<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <base href="/"/>
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css"/>
  <link rel="stylesheet" href="/bootstrap/bootstrap-icons.min.css">
  <link rel="stylesheet" href="/app.css"/>
  <link rel="stylesheet" href="WikaApp.styles.css"/>
  <link rel="icon" type="image/png" href="favicon.png"/>
  <HeadOutlet/>
</head>

<body class="mb-5">
<Routes/>
<script src="/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/showdown/showdown.min.js"></script>
<script src="/showdown/showdown-github.min.js"></script>
<script src="/showdown/showdown-youtube.min.js"></script>
<script src="/ace/ace.js"></script>
<script src="/ace/mode-markdown.js"></script>
<script src="/ace/theme-textmate.js"></script>
<script src="/scripts.js"></script>
<script src="_framework/blazor.web.js"></script>
</body>

</html>