<form class="mt-2 d-flex flex-row align-items-center" method="post" @onsubmit="remove_user" @formname=@("remove_user_" + email)>
  <div>@email</div>
  <button class="btn btn-danger btn-sm ms-1" type="submit">
    <i class="bi bi-trash3"></i>
  </button>
  <AntiforgeryToken/>
</form>

@code
{
  [Inject] private AppDbContext      db_context         { get; set; } = null!;
  [Inject] private NavigationManager navigation_manager { get; set; } = null!;
  [Inject] private ILogger<EditUser> logger             { get; set; } = null!;

  [Parameter] public string email { get; set; } = null!;

  private async Task remove_user()
  {
    logger.LogInformation("Remove user '{}'", email);
    db_context.users.RemoveRange(db_context.users.Where(x => x.email == email));
    await db_context.SaveChangesAsync();
    navigation_manager.Refresh();
  }
}