<form method="post" @onsubmit="remove_page" @formname="remove_page">
  <button type="submit" class="btn btn-outline-danger remove-page">
    <i class="bi bi-trash"></i> Remove
  </button>
  <AntiforgeryToken/>
</form>

@code
{
  [Inject] private AppDbContext        db_context         { get; set; } = null!;
  [Inject] private NavigationManager   navigation_manager { get; set; } = null!;
  [Inject] private ILogger<RemovePage> logger             { get; set; } = null!;

  [Parameter] public string path { get; set; } = null!;

  private async Task remove_page()
  {
    logger.LogInformation("Remove page '{}'", path);
    db_context.pages.RemoveRange(db_context.pages.Where(x => x.path == path));
    await db_context.SaveChangesAsync();
    navigation_manager.NavigateTo("/");
  }
}