@page "/auth/sorry"
@using Microsoft.EntityFrameworkCore
@using WikaApp.Auth

<PageTitle>We are sorry</PageTitle>

<h1>We are sorry, but your email is not in database</h1>
<p class="mt-3">Contact site administrator to add email
  <a class="border border-secondary rounded p-2 bg-light text-decoration-none" id="copy-email"
     data-bs-content="Email is copied to clipboard!"
     onclick="copyEmail()">
    <i class="bi bi-clipboard"></i> @http_context.get_email()
  </a>
  to database.
</p>

<a href="/auth/login-start">Try again</a>

<script>
  let popover;

  addEventListener("DOMContentLoaded", () => {
    popover = new bootstrap.Popover(
      document.getElementById('copy-email'), {
        trigger: 'manual',
        placement: 'bottom',
      }
    );
  });

  function copyEmail() {
    navigator.clipboard.writeText("@http_context.get_email()")
      .then(() => {
        popover.show();
        setTimeout(() => popover.hide(), 1000);
      })
      .catch((err) => {
        alert(err.toString());
      });
  }
</script>

<style>
  #copy-email {
    cursor: pointer;
  }
</style>

@code {
  [CascadingParameter] public  HttpContext       http_context       { get; set; } = null!;
  [Inject]             private NavigationManager navigation_manager { get; set; } = null!;
  [Inject]             private AppDbContext      db_context         { get; set; } = null!;

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    if (http_context.is_authenticated())
    {
      var email = http_context.get_email();
      if (!string.IsNullOrEmpty(email) &&
          await db_context.users.AnyAsync(x => x.email == email))
      {
        navigation_manager.NavigateTo("/");
      }
    }
  }
}