@page "/"
@using WikaApp.Auth
@attribute [RequireAuthorization]

<PageTitle>Home</PageTitle>

<h1>Hello, @http_context.User.FindFirst("name")?.Value</h1>
<img src="@http_context.User.FindFirst("picture")?.Value" alt="picture"/>

<a href="/auth/logout">Logout</a>

@code {
  [CascadingParameter] public HttpContext http_context { get; set; } = null!;

  protected override async Task OnInitializedAsync()
  {
  }
}