@page "/"
@using WikaApp.Auth
@attribute [RequireAuthorization]

<PageTitle>Home</PageTitle>

<nav class="nav flex-column">
  <a class="nav-link" href="/">Page 1</a>
  <a class="nav-link" href="/">Page 2</a>
</nav>

@code {
  [CascadingParameter] public HttpContext http_context { get; set; } = null!;

  protected override async Task OnInitializedAsync() {}
}