@page "/logout"
@using Microsoft.AspNetCore.Authentication

<PageTitle>Logout</PageTitle>
<h3>Logout</h3>

@code {
  [CascadingParameter] private HttpContext http_content { get; set; } = null!;

  [Inject] private NavigationManager navigation_manager { get; set; } = null!;

  protected override async Task OnInitializedAsync()
  {
    await base.OnInitializedAsync();

    if (http_content.User.Identity?.IsAuthenticated is true)
      await http_content.SignOutAsync();

    navigation_manager.NavigateTo("/");
  }

}