@page "/users"
@using Microsoft.EntityFrameworkCore
@using WikaApp.Auth
@using WikaApp.Components.Components
@attribute [RequireAuthorization]

<h3>Users</h3>

<div style="max-width: 400px;">
  <AddUser/>
  @foreach (var email in emails)
  {
    <EditUser email="@email"/>
  }
</div>

@code
{
  [Inject] private AppDbContext db_context { get; set; } = null!;

  private string[] emails = [];

  protected override async Task OnInitializedAsync()
  {
    emails = await db_context.users
      .OrderBy(x => x.email)
      .Select(x => x.email)
      .ToArrayAsync();
  }
}